name: Test verify

on:
  workflow_dispatch:

jobs:

  verify:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - run: npm ci
      - run: echo $CI
      - run: npx cypress verify
      - run: npx cypress version

  verify-debug:
    runs-on: ubuntu-24.04
    env:
      DEBUG:  'cypress:*'
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - run: npm ci
      - run: echo $CI
      - run: npx cypress verify
      - run: npx cypress version
