name: Test verify fail

on:
  workflow_dispatch:

jobs:

  verify-fail:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - run: npm ci
      - run: npx cypress cache clear
      - run: echo $CI
      - run: npx cypress verify

  verify-fail-debug:
    runs-on: ubuntu-24.04
    env:
      DEBUG:  'cypress:*'
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - run: npm ci
      - run: npx cypress cache clear
      - run: echo $CI
      - run: npx cypress verify
